<!-- 
1. Kerjakan Latihan ini pada StackBlitz
2. Hubungkan Project StackBlitz anda dengan github yang diberi nama : NRP-Angular1. Jadikan repository nya publik
3. Lakukan commit sesuai dengan kebutuhan anda. Lakukan percabangan apabila dibutuhkan.
4. Kumpulkan link github pada google Classroom.

Program yang harus dibuat :
*. Buatlah sebuah program 4 sama dengan menggunakan koordinat.
*. User dilakukan bergantian. antara 0 dan 1
*. Luas Board adalah 5 * 5
*. Menang apabila ada 4 karakter sama dalam 1 garis lurus vertikal / horizontal.

Contoh Program
Board Awal :
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

User 1 : input 2,3 (baris ke-2, kolom ke-3)
maka board berubah menjadi :
* * * * *
* * 1 * *
* * * * *
* * * * *
* * * * * 
-->
<h1>Tic Tac Toe </h1>

<ng-template *ngIf="player; then templatetrue; else templatefalse"></ng-template>
<ng-template #templatetrue>
  <p>Player 1</p>
</ng-template>

<ng-template #templatefalse>
  <p>Player 0</p>
</ng-template>

baris <input type="text" [(ngModel)]="koor1">
kolom <input type="text" [(ngModel)]="koor2">
<br><br>
<button (click)="check()">Input Koordinat</button>
<br><br>

<div style="inline-block">
  <div>
    {{satu[0]}}
    {{satu[1]}}
    {{satu[2]}}
    {{satu[3]}}
    {{satu[4]}}
  </div>
  <div>
    {{dua[0]}}
    {{dua[1]}}
    {{dua[2]}}
    {{dua[3]}}
    {{dua[4]}}
  </div>
  <div>
    {{tiga[0]}}
    {{tiga[1]}}
    {{tiga[2]}}
    {{tiga[3]}}
    {{tiga[4]}}
  </div>
  <div>
    {{empat[0]}}
    {{empat[1]}}
    {{empat[2]}}
    {{empat[3]}}
    {{empat[4]}}
  </div>
  <div>
    {{lima[0]}}
    {{lima[1]}}
    {{lima[2]}}
    {{lima[3]}}
    {{lima[4]}}
  </div>
  
</div>


<h1 *ngIf="menang">Player {{nama}} Menang</h1>


