<!-- 
1. Kerjakan Latihan ini pada StackBlitz
2. Hubungkan Project StackBlitz anda dengan github yang diberi nama : NRP-Angular1. Jadikan repository nya publik
3. Lakukan commit sesuai dengan kebutuhan anda. Lakukan percabangan apabila dibutuhkan.
4. Kumpulkan link github pada google Classroom.

Program yang harus dibuat :
*. Buatlah sebuah program 4 sama dengan menggunakan koordinat.
*. User dilakukan bergantian. antara 0 dan 1
*. Luas Board adalah 5 * 5
*. Menang apabila ada 4 karakter sama dalam 1 garis lurus vertikal / horizontal.

Contoh Program
Board Awal :
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

User 1 : input 2,3 (baris ke-2, kolom ke-3)
maka board berubah menjadi :
* * * * *
* * 1 * *
* * * * *
* * * * *
* * * * * 
-->
<h1>Tic Tac Toe </h1>

<ng-template *ngIf="player; then templatetrue; else templatefalse"></ng-template>
<ng-template #templatetrue>
  <p>Player 1</p>
</ng-template>

<ng-template #templatefalse>
  <p>Player 0</p>
</ng-template>

baris <input type="text" [(ngModel)]="koor1">
kolom <input type="text" [(ngModel)]="koor2">
<br><br>
<button (click)="check()">Input Koordinat</button>
<br><br>

<ng-template *ngIf="table; then tabletrue; else tablefalse"></ng-template>

<ng-template #tabletrue>
  <div style="inline-block">
  <div  *ngFor="let game1 of satu; let game2 of dua; let game3 of tiga; let game4 of empat; let game5 of lima">
    {{game1}}
    {{game2}}
    {{game3}}
    {{game4}}
    {{game5}}
  </div>
</div>
</ng-template>

<ng-template #tablefalse>
  <div style="inline-block">
  <div  *ngFor="let game1 of satu; let game2 of dua; let game3 of tiga; let game4 of empat; let game5 of lima">
    {{game1}}
    {{game2}}
    {{game3}}
    {{game4}}
    {{game5}}
  </div>
</div>
</ng-template>


<h1 *ngIf="menang">Player {{nama}} Menang</h1>

{{satu[0]}}

